*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: brown;
}

canvas{
    background: #00FF00;
    background: url(../img/9.png);
    display: block;
    margin: 0 auto;
}

h1{
    color: #2C5364;
    text-align: center;
    font-family: monospace;
    margin: 50px;
}